@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Oswald&family=Rubik&display=swap');
nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav .log-out a{
    position: fixed;
    right: 20px;
    bottom: 15px;
    list-style: none;
    background-image: url('../../../Utils/img/log-out.png');
    background-repeat: no-repeat;
    background-color: rgb(167, 167, 167);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    z-index: 1;
}
nav ul li a {
    font-family: 'New Rocker', cursive;
    color: #ebebeb;
    font-size: 1.6rem;
}
nav {
    background-color: transparent;
    background-image: url("../../../Utils/img/Fire-Background.jpg");
    background-size: contain;
}
nav ul a:hover {
    color: rgb(239 20 8);
}
